/* #doctor-card .scrollable-div {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#doctor-card .scrollable-div::-webkit-scrollbar {
  display: none;
} */

/* #doctor-card .chamberCard:hover {
  cursor: pointer;
} */
