#hospital .swiper .swiper-wrapper {
  z-index: 10;
  position: relative;
}

#hospital .swiper .swiper-wrapper .swiper-slide {
  margin-right: 17px !important;
}

#hospital .swiper .swiper-button-prev {
  background-color: red;
  height: 72px;
  width: 72px;
  border-radius: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

#hospital .swiper .swiper-button-prev::after {
  content: "<";
  font-size: 24px !important;
  font-weight: bold;
}
