.masonry-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.blogItem {
  width: 48%;
}

@media (min-width: 640px) and (max-width: 767.98px) {
  .blogItem {
    width: 48.5%;
  }
}

@media (min-width: 768px) and (max-width: 1023.98px) {
  .masonry-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .blogItem {
    width: 31.7%;
  }
}

@media (min-width: 1024px) and (max-width: 1279.98px) {
  .masonry-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .blogItem {
    width: 32.2%;
  }
}

@media (min-width: 1280px) and (max-width: 1588.98px) {
  .masonry-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .blogItem {
    width: 32.2%;
  }
}

@media (min-width: 1589px) and (max-width: 1919.98px) {
  .masonry-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .blogItem {
    width: 31.8%;
  }
}

@media (min-width: 1920px) {
  .masonry-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .blogItem {
    width: 32.2%;
  }
}
