#review-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
}

#review-container>div{
    box-sizing: border-box;
}

#review-container>div:nth-child(3n+2){
    @apply lg:pb-[45px] xl:pb-[60px] 2xl:pb-[90px]
}