/* #add-doctor .css-1u9des2-indicatorSeparator {
  width: 0;
}

#add-doctor .css-1gxfbx6-control {
  cursor: pointer;
}

#add-doctor .css-hlgwow {
  padding: 12px 20 12px 20px;
}

#add-doctor .css-1jqq78o-placeholder {
  margin: 0;
}

#add-doctor .css-19bb58m {
  margin: 0;
  padding: 0;
} */
